@import "../../index.scss";
.home-container {
  height: 100vh;
  background-color: $Black;

  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px 22px;
  .header {
    .logo {
      height: 30px;
    }
  }
  .stories {
    margin-top: 20px;
    .story-container {
      height: 100px;
      width: 80px !important;

      .story {
        height: fit-content;
        padding: 4px;
        border-radius: 50%;

        .image {
          height: 70px;
          width: 70px;
          object-fit: contain;
          border-radius: 50%;
          background-position: center;
          background-size: cover;
          transition-duration: 0.12s;
        }
        .image-animate {
          height: 55px;
          width: 55px;
        }
      }
    }
    .story-1 {
      background: linear-gradient(
        5deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
      .image {
        background-image: url("../../Assets/IMG/Stories/IMG-20240510-WA0013.jpg");
      }
    }
    .story-2 {
      background: linear-gradient(
        25deg,
        #f09433 0%,
        #e6683c 25%,
        #cd27dc 50%,
        #7a23cc 75%,
        #3118bc 100%
      );
      .image {
        background-image: url("../../Assets/IMG/Stories/IMG-20240510-WA0009.jpg");
      }
    }
    .story-3 {
      background: linear-gradient(45deg, #fbaa47 10%, #d91a46 40%, #a60f93 50%);
      .image {
        background-image: url("../../Assets/IMG/Stories/IMG-20240510-WA0011.jpg");
      }
    }
    .story-4 {
      background: linear-gradient(45deg, #fbaa47 10%, #d91a46 40%, #a60f93 50%);
      .image {
        background-image: url("../../Assets/IMG/Stories/IMG-20240510-WA0010.jpg");
      }
    }
    .story-5 {
      background: linear-gradient(45deg, #fbaa47 10%, #d91a46 40%, #a60f93 50%);
      .image {
        background-image: url("../../Assets/IMG/Stories/IMG-20240510-WA0014.jpg");
      }
    }
    .story-6 {
      background: linear-gradient(45deg, #fbaa47 10%, #d91a46 40%, #a60f93 50%);
      .image {
        background-image: url("../../Assets/IMG/Stories/IMG-20240510-WA0015.jpg");
      }
    }
    .story-7 {
      background: linear-gradient(45deg, #fbaa47 10%, #d91a46 40%, #a60f93 50%);
      .image {
        background-image: url("../../Assets/IMG/Stories/IMG-20240510-WA0016.jpg");
      }
    }
  }
}
.story-open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url("../../Assets/IMG/Stories/Content/story.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .header {
    height: 60px;

    padding: 0 20px;
    box-sizing: border-box;
    backdrop-filter: blur(3px);
    .left {
      .avatar {
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
      }
    }
    .dots {
      backdrop-filter: blur(20px);
    }
  }
  .footer {
    box-sizing: border-box;
    padding: 20px 10px;
    padding-right: 20px;
    position: fixed;
    bottom: 0;
    backdrop-filter: blur(1.5px);
    .input {
      width: 77%;
      height: 47px;
      border-radius: 50px;
      padding: 0px 20px;
      border: 1px solid rgba($color: #fff, $alpha: 0.8);
      background-color: transparent;
      &::placeholder {
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
